<%= form_for @advertisement do |f| %>
	<%= render 'shared/form_errors', object: f.object %>

	<div class='form-group'>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class='form-group'>
		<%= f.label :image_file, 'Image' %>
		<%= f.file_field :image_file %>
	</div>
	<div class='form-group'>
		<%= f.label :link_to, 'Link' %>
		<%= f.text_field :link_to %>
	</div>
	<div class='form-group'>
		<%= f.label :position %>
		<%= f.select :position, 1..Advertisement::MAX_ADS %>

		<%= f.label :active %>
		<%= f.check_box :active %>
	</div>
	<div class='form-group'>
		<%= f.label :caption %>
		<%= f.text_field :caption %>

		<%= f.label :display_caption %>
		<%= f.check_box :display_caption %>
	</div>
	<div class='form-group'>
		<%= f.submit 'Submit' %>
	</div>

<% end %>






