<%= form_for @advertisement, url: advertisements_path do |f| %>
	<%= render 'shared/form_errors', object: f.object %>

	<div class='form-group'>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class='form-group'>
		<%= f.label :image_file, 'Image' %>
		<%= f.file_field :image_file %>
	</div>
	<div class='form-group'>
		<%= f.label :link_to, 'Link' %>
		<%= f.text_field :link_to %>
	</div>
	<div class='form-group'>
		<%= f.label :advertisement, 'Ad Number' %>
		<%= f.select :advertisement, 1..Update::MAX_ADS %>
	</div>
	<div class='form-group'>
		<%= f.label :description, 'Caption' %>
		<%= f.text_area :description %>
	</div>
	<div class='form-group'>
		<%= f.submit 'Submit' %>
	</div>

<% end %>






