<h1>Update</h1>

<div class='navigation'>
	<%= link_to 'View All', advertisements_path %>
	<%= link_to 'Delete', advertisement_path(@advertisement), method: :delete, 
		data: { confirm: 'Are you sure you want to delete this ad?' } %>
</div>

<div class='advertisement-container'>
	<h4><%= @advertisement.title %></h4>
	
	<section>
		Image: <%= @advertisement.image_file %>
	</section>
	<section>
		Caption: <%= @advertisement.description%>
	</section>
</div>





