<div class='top-content'>
	<div class='cider-history-module'>
		<h1>The Cider Story</h1>
		<%=  image_tag "test/temp_image_medium.png" %>
	</div>
</div>

<div class='bottom-content'>
	<h1>Our Ciders</h1>
	<nav class='cider-navigation'>
		<%= link_to 'Summer', '#summer-ciders', class: 'stub-link' %> 
		<%= link_to 'Fall', '#fall-ciders', class: 'stub-link' %>
		<%= link_to 'Winter', '#winter-ciders', class: 'stub-link'%>
		<%= link_to 'Spring', '#spring-ciders', class: 'stub-link' %>
	</nav>
	
	<div class='cider-module'>
		<div class='year-round-cider-container'>
			<h2>Year Round Ciders</h2>
			<%= render partial: 'cider', collection: @year_round_ciders %>
		</div>
		<div class='summer-cider-container seasonal-cider-container'>
			<h2 class='season-title'>
				<a id='summer-ciders'>Summer Ciders</a>
			</h2>
			<%= render partial: 'cider', collection: @summer_ciders %>
		</div>
		<div class='fall-cider-container seasonal-cider-container'>
			<h2 class='season-title'>
				<a id='fall-ciders'>Fall Ciders</a>
			</h2>
			<%= render partial: 'cider', collection: @fall_ciders %>
		</div>
		<div class='winter-cider-container seasonal-cider-container'>
			<h2 class='season-title'>
				<a id='winter-ciders'>Winter Ciders</a>
			</h2>
			<%= render partial: 'cider', collection: @winter_ciders %>
		</div>
		<div class='spring-cider-container seasonal-cider-container'>
			<h2 class='season-title'>
				<a id='spring-ciders'>Spring Ciders</a>
			</h2>
			<%= render partial: 'cider', collection: @spring_ciders %>
		</div>
	</div>
</div>







