<div class='top-container'>
	<div id='feature-image-container' class='slide-show'>
		<%= image_tag 'features/mountain_view.jpg', 
			class: 'feature-image active slide-show-image',
			data: { order: 1 } %>
		<%= image_tag 'features/blossom_tree.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 2 } %>
		<%= image_tag 'features/can_lineup.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 3 } %>
		<%= image_tag 'features/drinking_cider.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 4 } %>
	</div>
	<div class='updates-module'>
		<h1>Happenings</h1>
		<div class='update-image'>
			<% if @updates.first %>
				<%= image_tag @updates.first.image_file, alt: @updates.first.title %>
			<% else %>
				<h3 class='alert'>
					No Recent Updates
				</h3>
			<% end %>
		</div>
		<div class='updates-container'>
			<ul class='updates-list'>
				<%= render partial: 'update_summary', collection: @updates %>
			</ul>
		</div>
	</div>

	<div class='right-container'>
		<div class='ad-module'>
			<%= render @advertisements %>
		</div>
	</div>
</div>

<div class='bottom-container'>
	<div class='cider-blurb'>
	</div>
</div>



