<header>
	<div id='worlds-best-container'>
		The World's Best Cider!
	</div>
	
	<div class='logo-container'>
		<%= link_to image_tag('shared/header_logo.png', alt: "Wild Cider", 
			class: "site-logo-image logo-image"), root_path %>
	</div>

	<%= render partial: 'layouts/navigation' %>
	
	<div id='quick-contact' class='contact-us'>
		<section class='contact-info'>
			<%= phone_number %>
			<%= address_link %>
		</section>
		
		<section class='social-bar-container'>
			<%= render 'shared/social_bar' %>
		</section>	
	</div>
</header>

















