<!DOCTYPE html>
<html>
<head>
  <title>Wild Cider</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<%= favicon_link_tag 'icons/wild-cider-icon.png' %>
</head>
<body>
	<%= render partial: 'layouts/header' %>
	<%= render partial: 'layouts/alert_bar' %>
	
	<div id='site-border-left' class='site-border'></div>
	
	<div class='main-content'>
		<%= yield %>
	</div>

	<%= render partial: 'layouts/footer' %>
	
	<div id='site-border-right' class='site-border'></div>
	
</body>
</html>
